*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* =====HEADER===== */

body{
    background-color: #dadada;
}

header img{
    width: 25vw;
}
header div{
    font-size: 2vw;
    padding: 1rem;
    background-color: #c6c7c4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

    header h1{
        font-size: 10vw;
    }
header div ul li a{
    color:black;
    
}

header div ul{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
}

.inicio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.inicio__img{
    grid-column: 1/3;
    grid-row: 1/3;
}

.inicio__descripcion{
    grid-column: 3/5;
    grid-row: 1/3;
}

.inicio__eventos{
    grid-column: 1/5;
    height: 10vw;
}
main{
    padding: 2rem;
}
.playlist{
    background-color: #846a6a;
}

.playlist__artistas{
    display: flex;
    flex-direction: row;
    height: 13vw;
    justify-content: space-evenly;
}

.caja1{
    background-color: #b28f8f;
}

.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nosotros__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem ;
    padding: 1rem;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
   /*  position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    }
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  
  .inicio__img{
    width: 50vw;
    height: auto;
}
.img-eventos{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.boton{
    padding: 10px 20px;
    background-color: #676767;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.playlist {
    list-style: none;
    padding: 0;
  }
  
  .playlist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .playlist li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .playlist li .detalle-play {
    display: flex;
    flex-direction: column;
  }
  
  .playlist li {
    font-weight: bold;
  }
  
  .playlist li .artista {
    font-size: 14px;
    color: #888;
  }

    @media (max-width: 600px) {
        .elemento {
        display: none;
        }
    }

    @media (max-width: 600px) {
        .inicio {
            display: flex;
            flex-direction: column;
        }
    }
    .text {
        padding: 10px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;}